<div class="overlay">
    <svg height="100%" width="100%">

       <!-- <line class="line1" x1="0" y1="0" x2="250" y2="350" style="stroke:rgb(0,0,0)"; stroke-width="3"; stroke-dasharray="10, 10" />
      <line class="line1" x1="500" y1="0" x2="250" y2="350" style="stroke:rgb(0,0,0)"; stroke-width="3"; stroke-dasharray="10, 10" />
      <line class="line" x1="100" y1="0" x2="100" y2="140" style="stroke:gray"; stroke-width="2"; stroke-dasharray="10, 10" />
      <line class="" x1="100" y1="140" x2="100" y2="1000" style="stroke:gray"; stroke-width="2"; stroke-dasharray="10, 10" />
      <line class="line" x1="400" y1="0" x2="400" y2="140" style="stroke:gray"; stroke-width="2"; stroke-dasharray="10, 10" />
      <line class="" x1="400" y1="140" x2="400" y2="1000" style="stroke:gray"; stroke-width="2"; stroke-dasharray="10, 10" />
      <line class="line3" x1="250" y1="0" x2="250" y2="350" style="stroke:gray"; stroke-width="3"; stroke-dasharray="10, 10" />
      <line class="" x1="1000" y1="0" x2="0" y2="1700" style="stroke:black"; stroke-width="3"; stroke-dasharray="10, 10" />
      <line class="" x1="740" y1="0" x2="1275" y2="1575" style="stroke:red"; stroke-width="3"; stroke-dasharray="10, 10" />
      <line class="" x1="1500" y1="0" x2="0" y2="419" style="stroke:green"; stroke-width="3"; stroke-dasharray="10, 10" /> -->
      <circle id="circle" class="line" cx="715" cy="550" r="199" stroke="rgba(255,0,0,1)" stroke-width="5" fill="none" stroke-dasharray="9.8, 4.9"/>
      <line class="line3" x1="0" y1="0" x2="2000" y2="923" style="stroke:rgba(0,0,0,1)"; stroke-width="3"; stroke-dasharray="10, 10" />
      <line class="" x1="875" y1="0" x2="0" y2="1175" style="stroke:rgba(0,0,0,1)"; stroke-width="3"; stroke-dasharray="10, 10" />
      <line class="line4" x1="740" y1="0" x2="784" y2="130" style="stroke:rgba(0,0,0,1)"; stroke-width="3"; stroke-dasharray="10, 10" />
      <line id="red-line" class="line1" x1="875" y1="400" x2="784" y2="130" style="stroke:rgba(255,0,0,1)"; stroke-width="3"; stroke-dasharray="10, 10" />
      <line class="" x1="875" y1="400" x2="1275" y2="1575" style="stroke:rgba(0,0,0,1)"; stroke-width="3"; stroke-dasharray="10, 10" />
      <circle id="circle2" class="circle" cx="838" cy="133" r="49" stroke="rgba(51,195,240,1)" stroke-width="5" fill="none" stroke-dasharray="7.5, 4.8"/>
      <line class="" x1="1500" y1="0" x2="710" y2="220" style="stroke:rgba(0,0,0,1)"; stroke-width="3"; stroke-dasharray="10, 10" />
      <line id="blue-line" class="line1" x1="710" y1="221" x2="570" y2="260" style="stroke:rgba(51,195,240,1)"; stroke-width="3"; stroke-dasharray="10, 10" />
      <line class="" x1="560" y1="263" x2="0" y2="419" style="stroke:rgba(0,0,0,1)"; stroke-width="3"; stroke-dasharray="10, 10" />
      <circle id="circle3" class="circle" cx="564" cy="293" r="29" stroke="rgba(255,0,0,1)" stroke-width="5" fill="none" stroke-dasharray="7.5, 4.6"/>
      <line class="" x1="315" y1="0" x2="595" y2="387" style="stroke:rgba(0,0,0,1)"; stroke-width="3"; stroke-dasharray="10, 10" />
      <line id="blue-line2" class="line1" x1="595" y1="388" x2="830" y2="712" style="stroke:rgba(51,195,240,1)"; stroke-width="3"; stroke-dasharray="10, 10" />
      <line class="" x1="830" y1="712" x2="1400" y2="1500" style="stroke:rgba(0,0,0,1)"; stroke-width="3"; stroke-dasharray="10, 10" />

    </svg>
  </div>


  <div id="content-div">
    <section ng-controller="TodosController">

      <div id="submit-bar">
        <form ng-submit="createTodo()">
          <input type="text" ng-model="newTodo.title" placeholder="title">
          <input type="text" ng-model="newTodo.content" placeholder="content">
          <input type="submit" style="display: none;">
          <input id="search-box" type="text" ng-model="q" value="" placeholder="search">
        </form>
      </div>

      <div ng-repeat="todo in todos | filter:q" class="todo">
        <h4>{{ todo.title }} <i class="fa fa-check-square-o" ng-click="deleteTodo(todo.id)"></i> </h4>
        <p>{{ todo.content }}</p>
      </div>

  <!--     <div class="modal fade" role="dialog" id="edit-modal">
        <div class="modal-header">
          Edit Idea
        </div>
        <div class="modal-content">
          <input type="text" ng-model="newTodo.title" placeholder="title">
          <input type="text" ng-model="newTodo.content" placeholder="content">
          <input type="submit" style="display: none;">
        </div>
      </div> -->

 <!--  <div class="container">
    <div id="edit-modal" class="modal fade" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal">&times;</button>
           <h4 class="modal-title">Edit Idea</h4>
         </div>
          <div class="modal-body">
            <form ng-submit="createTodo()">
              <input type="text" ng-model="newTodo.title" placeholder="title">
              <input type="text" ng-model="newTodo.content" placeholder="content">
              <input type="submit" style="display: none;">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div> -->



    </section>

  </div>




</div>


