<div class="overlay">
    <svg height="100%" width="100%">
       <!-- <line class="line1" x1="0" y1="0" x2="250" y2="350" style="stroke:rgb(0,0,0)"; stroke-width="3"; stroke-dasharray="10, 10" /> <!--top left --> -->
       <!-- <line class="line1" x1="500" y1="0" x2="250" y2="350" style="stroke:rgb(0,0,0)"; stroke-width="3"; stroke-dasharray="10, 10" /> <!--top right --> -->
      <circle id="circle" class="line" cx="715" cy="550" r="200" stroke="rgba(255,0,0,1)" stroke-width="3" fill="none" stroke-dasharray="10, 10"/> <!--circle-->
      <!-- <line class="line" x1="100" y1="0" x2="100" y2="140" style="stroke:gray"; stroke-width="2"; stroke-dasharray="10, 10" /> <!--left gray moving-->
      <!-- <line class="" x1="100" y1="140" x2="100" y2="1000" style="stroke:gray"; stroke-width="2"; stroke-dasharray="10, 10" /> left gray static -->
      <!-- <line class="line" x1="400" y1="0" x2="400" y2="140" style="stroke:gray"; stroke-width="2"; stroke-dasharray="10, 10" /> -->
      <!-- <line class="" x1="400" y1="140" x2="400" y2="1000" style="stroke:gray"; stroke-width="2"; stroke-dasharray="10, 10" /> --> -->
      <!-- <line class="line3" x1="250" y1="0" x2="250" y2="350" style="stroke:gray"; stroke-width="3"; stroke-dasharray="10, 10" /> -->
      <line class="line3" x1="0" y1="0" x2="1600" y2="740" style="stroke:rgba(0,0,0,1)"; stroke-width="3"; stroke-dasharray="10, 10" />
      <!-- <line class="" x1="1000" y1="0" x2="0" y2="1700" style="stroke:black"; stroke-width="3"; stroke-dasharray="10, 10" /> -->
      <line class="" x1="875" y1="0" x2="0" y2="1175" style="stroke:rgba(0,0,0,1)"; stroke-width="3"; stroke-dasharray="10, 10" />
      <line class="line4" x1="740" y1="0" x2="784" y2="130" style="stroke:rgba(0,0,0,1)"; stroke-width="3"; stroke-dasharray="10, 10" />
      <line class="line1" x1="875" y1="400" x2="784" y2="130" style="stroke:rgba(255,0,0,1)"; stroke-width="3"; stroke-dasharray="10, 10" />
      <line class="" x1="875" y1="400" x2="1275" y2="1575" style="stroke:rgba(0,0,0,1)"; stroke-width="3"; stroke-dasharray="10, 10" />
      <circle id="cicle2" class="line" cx="838" cy="133" r="50" stroke="rgba(51,195,240,1)" stroke-width="3" fill="none" stroke-dasharray="10, 10"/>
      <!-- <line class="" x1="740" y1="0" x2="1275" y2="1575" style="stroke:red"; stroke-width="3"; stroke-dasharray="10, 10" /> -->
      <line class="" x1="1500" y1="0" x2="0" y2="419" style="stroke:rgba(0,0,0,1)"; stroke-width="3"; stroke-dasharray="10, 10" />
    </svg>
  </div>

<div class="container">

<!--   <div class="row"> -->

    <div class="twelve columns">
      <div id="content-div">
        <section ng-controller="TodosController">

          <div id="submit-bar">
            <form ng-submit="createTodo()">
              <input type="text" ng-model="newTodo.title" placeholder="title">
              <input type="text" ng-model="newTodo.content" placeholder="content">
              <input type="submit" style="display: none;">
            </form>
          </div>

          <div ng-repeat="todo in todos" class="todo">
            <h4>{{ todo.title }} <i class="fa fa-check-square-o" ng-click="deleteTodo(todo.id)"></i> </h4>
            <p>{{ todo.content }}</p>
          </div>

        </section>

      </div>
    </div>
<!--   </div> -->



</div>


